---
import Layout from "@layouts/Layout.astro";
import { getProducts } from "../data";
import ProductCard from "@components/ProductCard.astro";
import { availableColors, availableSizes } from "../config";
import { parseSizeParam } from "../utility";
import { Header, SortButtons, ColorFilter, SizeFilter, Pagination } from "@components/ui";


const page = parseInt(Astro.url.searchParams.get("page") || "1");
const sortBy = Astro.url.searchParams.get("sortBy") || "price";
const sortOrder = Astro.url.searchParams.get("sortOrder") || "asc";
const filterByColor = Astro.url.searchParams.get("color") || null;
const filterBySize = parseSizeParam(Astro.url.searchParams.get("size"));
const limit = 10;
const skip = (page - 1) * limit;


const productList = getProducts(skip, limit, sortBy, sortOrder, filterByColor, filterBySize);
const { products, total } = productList;
const totalPages = Math.ceil(total / limit);
---

<Layout title="Shop">
  <Header />
  <SortButtons {page} {sortBy} {sortOrder} {filterByColor} {filterBySize} />
  <ColorFilter {page} {sortBy} {sortOrder} {filterByColor} {filterBySize} {availableColors} />
  <SizeFilter {page} {sortBy} {sortOrder} {filterByColor} {filterBySize} {availableSizes} />
  {products.length > 0 ? (
    <section class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-2 md:gap-4 py-8">
      {products.map((product) => (
        <ProductCard product={product} />
      ))}
    </section>
  ) : (
    <div class="text-center py-10">
      <p class="text-gray-600">No results found for your query. Please try adjusting the filters.</p>
    </div>
  )}
  <Pagination {page} {totalPages} {sortBy} {sortOrder} {filterByColor} {filterBySize} />
</Layout>
